server {
    listen ${NGINX_PORT};
    listen [::]:${NGINX_PORT};

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;

    location / {
        proxy_pass http://nextjs:${NEXTJS_PORT};
    }

    location /cms/ {
        proxy_pass http://directus:${DIRECTUS_PORT}/;
    }
}